# IDE Stuff
.settings
settings.xml

# Logs
logs/*.log

# Test Results
tests/results/*

# Secrets
.env

# Dependenncies
coldbox/*
testbox/*
docbox/*
artifacts/*
apidocs/twilio-sdk-apidocs/*
workbench/*
build/*
modules/hyper
